<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015 The Jupiter Project
  ~
  ~ Licensed under the Apache License, version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at:
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- netty的网络层实现(建议单例) -->
    <bean id="nettyTcpConnector" class="org.jupiter.transport.netty.JNettyTcpConnector" />

    <bean id="connectorWrapper" class="org.jupiter.spring.support.JupiterSpringConnector">
        <property name="connector" ref="nettyTcpConnector" />
        <!-- 注册中心地址, 逗号分隔 -->
        <property name="registryServerAddresses" value="127.0.0.1:20001" />
    </bean>

    <!-- consumer -->
    <bean id="serviceTest" class="org.jupiter.spring.support.JupiterSpringConsumerBean">
        <property name="connector" ref="connectorWrapper" />
        <property name="interfaceClass" value="org.jupiter.example.ServiceTest" />

        <!-- 以下都选项可不填 -->

        <!-- 序列化/反序列化类型: (proto_stuff, hessian)可选, 默认proto_stuff -->
        <property name="serializerType" value="proto_stuff" />
        <!-- 派发方式: (round, broadcast)可选, 默认round(单播) -->
        <property name="dispatchType" value="round" />
        <!-- 调用方式: (sync, async)可选, 默认sync(同步调用) -->
        <property name="invokeType" value="sync" />
        <!-- 容错方案: (failfast, failover)可选, 默认failfast(快速失败) -->
        <property name="haStrategy" value="failover" />
        <!-- 在failover策略下的失败重试次数 -->
        <property name="failoverRetries" value="3" />
        <!-- 超时时间设置 -->
        <property name="timeoutMillis" value="3000" />

        <!-- 可选配置 -->
        <!--
            SerializerType serializerType                   // 序列化/反序列化方式
            long waitForAvailableTimeoutMillis = -1         // 如果大于0, 表示阻塞等待直到连接可用并且该值为等待时间
            InvokeType invokeType                           // 调用方式 [同步; 异步]
            DispatchType dispatchType                       // 派发方式 [单播; 组播]
            long timeoutMillis                              // 调用超时时间设置
            Map<String, Long> methodsSpecialTimeoutMillis   // 指定方法单独设置的超时时间, 方法名为key, 方法参数类型不做区别对待
            ConsumerHook[] hooks                            // consumer hook
            String providerAddresses                        // provider地址列表, 逗号分隔(IP直连)
            HaStrategy.Strategy haStrategy                  // 容错方案(只支持单播的同步阻塞调用)
            int failoverRetries                             // failover重试次数
        -->
    </bean>
</beans>